/* .about-hero {
  width: 100%;
  height: 100vh;
  background: url(../img/hero-bg.png) top center no-repeat;
  background-size: cover;
  transform: rotate(-180deg);
  overflow: hidden;
}

.about-hero .about-img {
  text-align: right;
  transform: scaleY(-1);
  transform-origin: top right;
} */

a {
  text-decoration: none;
}

.about-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.about-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/hero-bg.png) top center no-repeat;
  background-size: cover;
  transform: rotate(-180deg);
  z-index: -1;
}

.about-hero .about-img {
  text-align: right;
}

.about-hero h1 {
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  color: #012970;
}

.about-hero li {
  color: #444444;
  margin: 15px 0 0 0;
  font-size: 18px;
}

.list-inline-item a {
  text-decoration: none;
  color: #444444;
}

.mission-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.mission-section .container img {
  max-width: 80%;
  max-height: 80%;
}

.we_company_area {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Progress Bar */
.l_title {
  padding-bottom: 55px;
}

.l_title img {
  padding-bottom: 30px;
}

.l_title h6 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #7c8d93;
  padding-bottom: 10px;
}

.l_title h2 {
  font-size: 48px;
  color: #0b1033;
  font-weight: 500;
}

.l_title h2 span {
  font-style: italic;
  color: #6fbbfe;
}
.left_company_text p {
  font-size: 15px;
  color: #7c8d93;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding-right: 20px;
}
.company_skill {
  padding-top: 90px;
}

.company_skill p {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  line-height: 28px;
  color: #7c8d93;
  font-weight: 500;
  padding-bottom: 70px;
}

.our_skill_inner .single_skill {
  margin-bottom: 20px;
}

.our_skill_inner .single_skill h3 {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #7c8d93;
  font-weight: 500;
  padding-bottom: 12px;
}

.our_skill_inner .single_skill .progress {
  height: 5px;
  background: #f4f8fc;
  border-radius: 10px;
  height: 20px;
  overflow: visible;
}

.our_skill_inner .single_skill .progress .progress-bar {
  background: linear-gradient(
    0deg,
    rgba(110, 189, 254, 1) 0%,
    rgba(155, 138, 255, 1) 100%
  );

  position: relative;
}

.our_skill_inner .single_skill:last-child {
  margin-bottom: 0px;
}

.ccc-block-wrap {
  padding: 50px 0;
}

.values .ccc-block-wrap .container {
  max-width: 1738px;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
  width: 100%;
}

.ccc-block-wrap .ccc-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border: 2px solid #f4f4f4;
  height: 100%;
}

.ccc-block-wrap .ccc-block__img {
  padding: 20px;
  text-align: center;
}

.ccc-block-wrap .ccc-block__content {
  text-align: center;
  padding: 30px 20px 40px;
}

.ccc-block-wrap .ccc-block__content .sub-title {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
  color: #a7a7a7;
}

.ccc-block-wrap .ccc-block__content .h2 {
  padding-bottom: 10px;
}

.ccc-block-wrap .ccc-block__content span {
  color: #a7a7a7;
  display: block;
  line-height: 1.55;
}

li {
  list-style: none;
}

.values-driven,
.values {
  padding: 0px 0px;
}

.title-wrap {
  padding-bottom: 30px;
}

.work-process-item {
  display: flex;
}

.work-process-item__icon {
  width: 126px;
  flex-shrink: 0;
  padding-bottom: 36px;
  padding-left: 28px;
  padding-top: 20px;
}

.work-process-item__icon .icon-box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: #fff;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
}

.work-process-item__content {
  width: 100%;
  padding-left: 40px;
  font-size: 16px;
  line-height: 1.6;
  padding-top: 20px;
}

.work-process-item__content .h6 {
  font-weight: bold;
}

.how-we-work-wrap .work-process-list > ul:not(:last-child) {
  border-bottom: 2px dashed #bfbfbf;
}

.how-we-work-wrap .work-process-list > ul > li:not(:last-child) {
  border-right: 2px dashed #bfbfbf;
}
