a {
  text-decoration: none;
}

section {
  padding: 40px 0px;
}

.service-bg {
  background: #f2efef;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* .grid-item {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 20px;
} */

.service-wrap {
  position: relative;
}
.service-wrap p {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  line-height: 23px;
  width: 100%;
}
.service-wrap h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #021423;
  margin-top: 17px;
  font-size: 40px;
  line-height: 54px;
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

.product-text {
  font-size: 42px;
  color: #012970;
  font-family: "Nunito", sans-serif;
}

h4 {
  font-family: "Nunito", sans-serif;
  font-size: 42px;
}

.ccc-block-wrap .ccc-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border: 2px solid #f4f4f4;
  height: 100%;
  border-radius: 10px;
}

.ccc-block-wrap .ccc-block__content {
  text-align: center;
  padding: 30px 20px 40px;
}
